{% extends "layout.twig"%}


{% block body %}
        <section id="content">
          <section class="vbox">          
            <section class="scrollable wrapper">
              <p class="h4">This is a blank page</p>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>    
  </section>
{% endblock %}